#main-box {
    background-image: url('./src/img/mosaic.jpg');
    background-size: 200%;
}

#main-content {
    padding-left: 15%;
    padding-right: 15%;
}

#currency-title {
    margin-left: 10%;
    font-size: 1.5em;
    color: black;
    font-weight: bold;
    text-shadow: 0px 0 4px white, 0 0px 4px white, 0px 0 white, 0 0px white;
}

#exchange-box {
    background-color: rgba(10, 14, 51, 0.63);
    width: 80%;
    border-radius: 8px 8px 0px 0px;
    padding: 30px;
}

#exchange-box strong {
    color: white;
    margin: 20px;
}
.form-rows {
    margin: 3%;
    padding-right: 3%;
}

.form-input {
    margin: 5%;
}

.header {
    margin-left: 5%;
    overflow: hidden;
    padding: 20px 10px;
  }

  .header a {
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
  }

  .header-link{
      color: black;
      font-weight: bold;
  }

  .header-link:hover {
    text-decoration: none;
    text-shadow: 0px 0 4px white, 0 0px 4px white, 0px 0 white, 0 0px white;
    cursor: pointer;
  }

 .active {
    background-color: white;
    padding-bottom: 40px;
    border-radius: 8px 8px 0 0;
  }

  .header-button {
    background-color: #1ca8e5;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    font-weight: bold;
    line-height: 25px;
    border-radius: 40px;
    transition: 0.3s;
  }

  .header-button:hover {
    text-decoration: none;
    color: black;
    background-color: #81e0f8;
  }

  .login-btn {
      background-color: transparent;
      color: #43bbef;
      border: 2px solid #43bbef;
  }

  .login-btn:hover {
    background-color: transparent;
    color: #046dd1;
    border: 2px solid #046dd1;
  }
 
  .header-right {
    float: right;
  }

  .collap {
    margin-top: -2%;
    padding: 20px 20px 20px;
    overflow: hidden;
    margin-left: 10%;
    float: bottom;
    background-color: white;
    border-radius: 8px;
    transition: 1s;
    width: 80%;
  }

.collapsible-content .col-md-4 {
    padding-top: 10px;
}

.collapsible-content .col-md-4:hover {
    background-color: #9eecff;
    border-radius: 3px;

}

.collapsible-content .fa {
    font-size: 100px;
    color: #1ca8e5;
    display: inline;
}

.collapsible-content .fa:hover {
    text-decoration: none;
    color: #1ca8e5;
}

.collapsible-content .center-col {
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.login-modal {
    display: block;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-left: 30%;
    padding-right: 30%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #43bbef;
    width: 80%;
    height: 42%;
    text-align: center;
}

#modal-title {
    background-color: #43bbef;
    margin: -20px;
    border-radius: 4px 4px 0 0;
}

#close-modal-button {
    border: none;
    background-color: #43bbef;;
    width: 30px;
    font-family: monospace;
    font-size: 20px;
    color: white;
    margin-left: 90%;
}

#login-form {
    margin: 40px;
}

#login-form button {
    border: 1px solid #43bbef;
    width: 60%;
    margin: 10px;
}

#login-form button:hover {
    color: white;
    background-color: #43bbef;
}

.login-input-container {
    width: 80%;
    margin-left: 5%;
}

#amount-error {
    font-weight: bold;
    background-color: white;
    border-radius: 4px;
}

#info-box {
    background-color: white;
    border-top: 5px solid #17a7e6;
    padding-top: 3%;
}
  
.info-quadrant {
    border-left: 1px solid rgba(10, 14, 51, 0.63);
    padding: 3%;
}

.info-quadrant.inferior {
    border-top: 1px solid rgba(10, 14, 51, 0.63);
}

.info-quadrant ul {
    list-style: none;
    margin-left: -2em;
}

.info-quadrant ul li::before {
    content: "\2022";
    color: #0099df;
    font-weight: bolder;
    display: inline-block;
    width: 1em;
  }

.info-quadrant ul li::after {
    content: "\2022";
    color: #0099df;
    font-weight: bolder;
    display: inline-block;
    width: 1em;
  }


.quadrant-title{
    text-align: center;
    color: #0099df;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

.fixed-footer{
    background-color: #272a33;
    text-align: center;
    bottom: 0px;
    padding: 40px 0px 40px;
    margin-top: 40px;
}

.fixed {
    position: relative;
    bottom: 0;
}

.fixed-footer .row{
    height: 40px;
}

.fixed-footer a {
    color: #6b707d;
}

.fixed-footer a:hover {
    color: black;
}

.footer-title {
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.fixed-footer input {
    background-color: #6b707d;
    border: none;
    border-radius: 4px 0px 0px 4px;
}

.fixed-footer button {
    background-color: #6b707d;
    border: none;
    border-radius: 0px 4px 4px 0px;
}

#inferior-footer {
    padding: 15px 10px 10px;
    background-color: #2e313a;
}

#inferior-footer strong{
    color: #6b707d;
}

#inferior-footer .fa {
    color: #6b707d;
    padding: 10px;
    font-size: 15px;
    width: 40px;
    margin: 2px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    border: 2px solid #3c3e49;
    background-color: transparent;
  }
  
  #inferior-footer .fa:hover {
    color: #1ca8e5;
    opacity: 0.7;
    text-decoration: none;
  }
  

  .not-display {
      display: none;
  }