$background-gradient: linear-gradient(35deg,#11cdef,#1171ef);
$fill-gradient: linear-gradient(#11cdef,#1171ef);
$gradient-lighter: #11cdef;
$gradient-darker: #1171ef;
$font-primary-color: #32325d;
$font-lighter-color: #525f7f;
$main-font: 'Noto Sans', sans-serif;

.mobile-only {
    display: none;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: table;
}

body {
    color: $font-primary-color;
    font-family: $main-font;
    font-size: 1em;

    .nunito {
        font-family: 'Nunito', sans-serif;
    }

    img {
        transition: 500ms;
        &:hover {
            opacity: 0.7;
        }
    }

    .special-text {
        color: $gradient-darker;
        font-family: 'Nunito', sans-serif;
    }

    .background-gradient {
        background: $background-gradient;
    }

    .pill-button {
        border-radius: 50px;
        font-family: 'Nunito', sans-serif;
    }

    .fill-up-effect {
        position: relative;
        overflow: hidden;
        z-index: 4;
        color: $fill-gradient;
        transition: color 500ms;
        &::before {
            position: absolute;
            top: 120%;
            right: -25%;
            width: 150%;
            height: 150%;
            content: ' ';
            background: $fill-gradient;
            transition: top 1s;
            animation: 400ms linear 0s infinite normal forwards paused fillUp;
            z-index: -1;
        }
        &::after {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            content: ' ';
            background-color: #fff;
            z-index: -2;
        }
        &:hover {
            color: #fff;
            &::before {
                top: -25%;
                animation-play-state: running;
            }
        }
    }
    
    @keyframes fillUp {
        0% {
            transform: rotateZ(0deg);
        }
        25% {
            transform: rotateZ(6deg);
        }
        50% {
            transform: rotateZ(0deg);
        }
        75% {
            transform: rotateZ(-6deg);
        }
        100% {
            transform: rotateZ(0deg);
        }
    }

    button {
        &:focus {
            outline: none;
        }
    }

    header {
        height: 8vh;
        font-weight: 700;
        border-bottom:2px solid $gradient-darker;

        nav {

            a {
                padding: 0 1em;
                color: $font-lighter-color;
                height: 100%;
            }

        }

            #rate-button {
                color: white;
                padding: 0.2em 1.5em;
                font-weight: 700;
                width: 30%;
                transition: width 1s;
    
                &:hover {
                    background: white;
                    border: 1px solid $gradient-darker;
                    color: $font-primary-color;
                    width: 40%;
                }
            }

    }

    #page-content {
        height: 100%;
        max-height: 500vh;
        p {
            text-indent: 1.5em;
        }
        #converter-section {
            padding: 10vh 5vw;
            height: 70vh;

            .options-button {
                background: white;
                width: 10vw;
                font-weight: 800;
                font-family: 'Nunito', sans-serif;
                padding: 0 1em;
                transition: 500ms;
            }

            .options-non-selected {
                opacity: 0.5;

                &:hover {
                    opacity: 0.7;
                }
            }

            form {
                background-color: white;
                height: 40vh;
                transition: 500ms;

                input {
                    border-color: $gradient-darker;
                    height: 1.7em;
                    padding-left: 1vw;

                    &:focus {
                        outline: none;
                    }
                }

                select {
                    border-color: $gradient-darker;
                    height: 1.7em;
                    width: 10vw;
                    text-align-last: center;
                    -moz-text-align-last: center;

                    &:focus {
                        outline: none;
                    }
                }

                button {
                    font-family: 'Nunito', sans-serif;
                    font-weight: 700;
                    color: white;
                    opacity: 0.7;
                    transition: 500ms;

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }

        #about-section {
            .analytics {
                span {
                    transition: 500ms;
                    &:hover {
                        color: $gradient-lighter;
                    }
                }
            }

            button {
                transition: 500ms;

                &:hover {
                    opacity: 0.7;
                }
            }
        }

        #contact-section {
            .contact-input {
                border: 1px solid $gradient-lighter;
                transition: 300ms;

                &:focus {
                    outline:none;
                    transform: scale(1.03);
                }
            }

            button {
                font-family: 'Nunito', sans-serif;
                transition: 500ms;
                &:hover {
                    opacity: 0.7;
                }
            }
        }

        #credits-section {
            button {
                transition: 500ms;

                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }

    #footer {
        background-color: $font-primary-color;
        color: white;
        display: table-row;
    }
}

